* {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Trebuchet MS", "Lucida Sans";
    /* font-size: 20px; */
    border-radius: 10px;

}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    text-align: center;
    cursor: pointer;
    margin: 5px;
}

img:hover {
    object-fit: cover;
    box-shadow: 3px 3px 3px gray;
    transition: box-shadow 0.2s ease-in-out;
}

.sound {
    position: absolute;
    background-color: white;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.card-wrapper {
    position: relative;
    margin: 0px;
}

table {
    border-collapse: separate;
    border-spacing: 20px;
 }

td {
    border-collapse: collapse;
    border: 2px solid black;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    align-items: center;
 }

h2 {
    text-align: center;
    text-transform: uppercase;
} 

.bold-label, p {
    font-weight: bold;
}

button {
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid rgb(240, 21, 21);
    text-align: center;
    cursor: pointer;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 5px;
}

button:hover {
    box-shadow: 3px 3px 3px gray;
    transition: box-shadow 0.2s ease-in-out;

}


ul {
    list-style: none;
    padding: 0;
}

li, h2 {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 10px;
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 1px;
    /* transition: 0.3s all linear; */
}
 
     
